
.banner {
    position: relative;
    .swiper-slide {
        position: relative;
        width: 100%;
        padding-bottom: 61%;
        .main-pic {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
        .text {
            position: absolute;
            bottom: 10%;
            left: 5%;
            h3 {
                font-family: $font-arial;
                font-size: calc(2rem + 0.6vw);
            }
            h2 {
                font-size: calc(3.5rem + 0.9vw);
                margin-bottom: 40px;
            }
        }
    }
    .swiper-pagination {
        top: 50%;
        // right: 5%;
        // left: inherit;
        bottom: inherit;
        transform: translateY(-50%);
        z-index: 100;
        &-bullet {
            display: block;
            margin: 5px 3% 5px auto !important;
            width: 10px;
            height: 10px;
            background-color: #fff;
            opacity: 1;
            &-active {
                background-color: $main-color;
                height: 15px;
                border-radius: 100px;
            }
        }
    }
    .scroll {
        position: absolute;
        left: 50%;
        bottom: 3%;
        transform: translateX(-50%);
        z-index: 50;
        cursor: pointer;
        &_line {
            width: 1px;
            height: 60px;
            background-color: #fff;
            margin: 0 auto 7px;
            position: relative;
        }
        &_dot {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: rgba(255,255,255,0.1);
            padding: 3px;
            position: absolute;
            top: -3px;
            left: 50%;
            transform: translateX(-50%);
            animation: scroll-dot 0.8s infinite both alternate-reverse;
            &_inner {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $main-color;
            }
        }
        p {
            font-size: 0.875rem;
            margin: 0;
        }
    }
}

@keyframes scroll-dot {
    form {
        top: -3px;
    }
    to {
        top: calc(100% - 3px);
    }
}

.about {
    // background-color: $main-color;
    background: linear-gradient(to bottom, $main-color 0%, $main-color 40%, #fff 40%, #fff 100%);
    position: relative;
    .container {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: rgba(255,255,255,0.3);
            // background: linear-gradient(to right,rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) .11%,transparent .11%,transparent 33.3333%,rgba(255,255,255,0.3) 33.3333%,rgba(255,255,255,0.3) 33.4433%,transparent 33.4433%,transparent 66.6667%,rgba(255,255,255,0.3) 66.6667%,rgba(255,255,255,0.3) 66.7767%,transparent 66.7767%,transparent 99.89%,rgba(255,255,255,0.3) 99.89%,rgba(255,255,255,0.3) 100%);
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 33.3333%;
            width: 1px;
            height: 100%;
            background-color: rgba(255,255,255,0.3);
            // background: linear-gradient(to right,rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) .11%,transparent .11%,transparent 33.3333%,rgba(255,255,255,0.3) 33.3333%,rgba(255,255,255,0.3) 33.4433%,transparent 33.4433%,transparent 66.6667%,rgba(255,255,255,0.3) 66.6667%,rgba(255,255,255,0.3) 66.7767%,transparent 66.7767%,transparent 99.89%,rgba(255,255,255,0.3) 99.89%,rgba(255,255,255,0.3) 100%);
        }
    }
    &_inner {
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 66.6667%;
            width: 1px;
            height: 100%;
            background-color: rgba(255,255,255,0.3);
            // background: linear-gradient(to right,rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) .11%,transparent .11%,transparent 33.3333%,rgba(255,255,255,0.3) 33.3333%,rgba(255,255,255,0.3) 33.4433%,transparent 33.4433%,transparent 66.6667%,rgba(255,255,255,0.3) 66.6667%,rgba(255,255,255,0.3) 66.7767%,transparent 66.7767%,transparent 99.89%,rgba(255,255,255,0.3) 99.89%,rgba(255,255,255,0.3) 100%);
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background-color: rgba(255,255,255,0.3);
            // background: linear-gradient(to right,rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) .11%,transparent .11%,transparent 33.3333%,rgba(255,255,255,0.3) 33.3333%,rgba(255,255,255,0.3) 33.4433%,transparent 33.4433%,transparent 66.6667%,rgba(255,255,255,0.3) 66.6667%,rgba(255,255,255,0.3) 66.7767%,transparent 66.7767%,transparent 99.89%,rgba(255,255,255,0.3) 99.89%,rgba(255,255,255,0.3) 100%);
        }
    }
    &_running {
        margin-bottom: 120px;
        overflow: hidden;
        &_rail {
            // overflow-x: auto;
            // overflow: hidden;
             white-space: nowrap;
            &_text {
                display: inline-block;
                margin-right: 50px;
                white-space: nowrap;
                p {
                    white-space: nowrap;
                    margin: 0;
                }
                &_chinese {
                    font-size: 6rem;
                    color: transparent;
                    -webkit-text-stroke: 1px #4EA16E;
                    font-weight: 700;
                    letter-spacing: 0.08em;
                }
                &_english {
                    padding-left: 60px;
                    color: #4EA16E;
                    font-family: $font-arial;
                    font-size: 2rem;
                }
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    &_text {
        p {
            line-height: 1.7;
            letter-spacing: 0.1em;
            margin: 0;
        }
    }
    &_link {
        transition: $second-transition;
        width: 60px;
        display: block;
        margin-left: auto;
        img {
            // width: 60px;
            width: 100%;
            display: block;
        }
        &:hover {
            transform: translateX(20px);
        }
    }
    &_video {
        width: 100%;
        padding-bottom: 59%;
        position: relative;
        margin-top: 40px;
        z-index: 10;
        video{ 
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &_play {
            width: 80px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            cursor: pointer;
        }
        &.playing {
            .about_video_play {
                width: 100%;
                height: 100%;
                opacity: 0;
            }
        }
    }
    &_feature {
        width: 100%;
        padding-bottom: 59%;
        z-index: 10;
        display: block;
        .text {
            position: absolute;
            width: 60%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            h3 {
                text-align: center;
                margin: 0 0 20px;
            }
            p {
                margin: 0;
                text-align: center;
            }
        }
        .arrow {
            position: absolute;
            width: 50px;
            height: 50px;
            display: block;
            right: 0;
            bottom: 0;
            background-color: #fff;
            transition: $second-transition;
            img {
                position: absolute;
                width: 20%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: $second-transition;
                &.hover {
                    opacity: 0;
                }
            }
        }
        &:hover {
            .arrow {
                background-color: $main-color;
                img {
                    &.normal {
                        opacity: 0;
                    }
                    &.hover {
                        opacity: 1;
                    }
                }

            }
        }
    }
}

.product {
    background-image: url(/public/img/bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .container {
        padding: 100px 0;
        position: relative;
        &::before {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;left: 0;
            content: "";
            background: linear-gradient(to right,rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.1) .11%,transparent .11%,transparent 33.3333%,rgba(255,255,255,0.1) 33.3333%,rgba(255,255,255,0.1) 33.4433%,transparent 33.4433%,transparent 66.6667%,rgba(255,255,255,0.1) 66.6667%,rgba(255,255,255,0.1) 66.7767%,transparent 66.7767%,transparent 99.89%,rgba(255,255,255,0.1) 99.89%,rgba(255,255,255,0.1) 100%);
            // background-size: calc(100%/3 - 1px/3)calc(100%/3 - 1px/3);
        }
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &_content {
        margin-bottom: 300px;
        position: relative;
        .pic {
            width: 100%;
            img {
                transition: 2s ease-in-out;
            }
            &_bg {
                width: 90%;
                display: block;
                margin-left: auto;
            }
            &_1 {
                &_1 {
                    width: 67%;
                    right: 9%;
                    bottom: -28%;
                    transform: translateX(50px);
                    &.active {
                        transform: translateX(0);
                    }
                }
                &_2 {
                    width: 18%;
                    left: 28%;
                    top: -8%;
                    transform: translateX(-50px);
                    &.active {
                        transform: translateX(0);
                    }
                }
            }
            &_2 {
                &_1 {
                    width: 63%;
                    right: 28%;
                    bottom: -35%;
                    transform: translateX(-50px);
                    &.active {
                        transform: translateX(0);
                    }
                }
                &_2 {
                    width: 32%;
                    right: 8%;
                    top: -14%;
                    transform: translateX(50px);
                    &.active {
                        transform: translateX(0);
                    }
                }
            }
            &_3 {
                &_1 {
                    width: 53%;
                    right: 15%;
                    bottom: -27%;
                    transform: translateX(50px);
                    &.active {
                        transform: translateX(0);
                    }
                }
            }
        }
        .text{ 
            // padding: 0 40px;
            padding-left: 40px;
            // margin-top: 40px;
            transform: translateY(50px);
            h4 {
                margin-bottom: 60px;
            }
            p {
                -webkit-line-clamp: 3;
                margin-bottom: 30px;
            }
            a {
                // margin-bottom: 60px;
            }
        }
        &:nth-child(odd) {
            .product_pic {
                order: 2;
            }
            .product_text {
                order: 1;
            }
        }
        &:nth-child(even) {
            .pic {
                width: 100%;
                img {
                    margin-right: auto;
                }
            }
            .product_title {
                text-align: right;
                right: 0;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &_title {
        position: absolute;
        font-size: calc(3.9rem + 0.6vw);
        font-family: $font-arial;
        color: rgba(166, 172, 177, 0.2);
        top: -20%;
        left: 0;
        &.machine {
            text-align: right;
            right: 0;
            font-size: calc(6rem + 0.6vw);
            right: 0;
            left: inherit;
            // top: 5%;
        }
    }
}

.map {
    padding: 60px 0;
    .title-common {
        a {
            width: 35px;
            right: 0;
            top: 15px;
            img {
                width: 100%;
                vertical-align: top;
            }
        }
    }
    &_box {
        position: relative;
        width: 90%;
        margin: 40px auto;
        &_main {
            display: block;
            width: 100%;
        }
    }
    &_mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.7);
        top: 0;
        left: 0;
        opacity: 0;
        // display: none;
        transition: $common-transition;
    }
    &_pin {
        position: absolute;
        cursor: pointer;
        // width: 7%;
        img {
            width: 20px;
            // width: 7%;
            // width: 100%;
        }
        &_circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid $main-color;
            background-color: rgba(78, 161, 110, 0.2);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            // top: calc(-47% + 20px);
            top: -47%;
            display: flex;
            align-items: center;
            justify-content: center;
            // opacity: 0;
            display: none;
            // transition: $common-transition;
            &_dot {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $main-color;
            }
        }
        // &:hover {
        //     .map_pin_circle {
        //         opacity: 1;
        //         top: -47%;
        //     }
        //     .map_content {
        //         opacity: 1;
        //         bottom: calc(100% + 20px);
        //         z-index: 1;
        //     }
        // }
        &.japan {
            top: 27%;
            right: 11.7%;
        }
        &.taiwan {
            top: 37.5%;
            right: 16%;
        }
        &.china {
            top: 30%;
            right: 18%;
        }
        &.canada {
            top: 17%;
            left: 20%;
        }
        &.usa {
            top: 27%;
            left: 9%;
        }
    }
    &_content {
        position: absolute;
        width: 210px;
        padding-left: 15px;
        padding-bottom: 15px;
        border-left: 1px dashed #231815;
        bottom: calc(100% + 20px);
        // bottom: 100%;
        left: 50%;
        // opacity: 0;
        display: none;
        // transition: $common-transition;
        z-index: 10;
        li {
            color: #231815;
            margin-bottom: 10px;
            h3 {
                color: $third-color;
                margin: 0 0 13px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.data {
    position: relative;
    background-image: url(/public/img/bg-2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 150px 0 100px;
    .slogan {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 70%;
        &-mobile {
            width: 80%;
            display: block;
            margin: 0 auto 40px;
        }
    }
    .row {
        >div {
            padding: 0 30px;
        }
    }
    &_content {
        width: 100%;
        padding-bottom: 100%;
        .text {
            position: absolute;
            width: 80%;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            p {
                color: #323E48;
                margin: 10px 0;
                font-size: 14px;
                line-height: 1;
            }
            .count, .unit {
                font-family: $font-lato;
                font-size: calc(3rem + 0.6vw);
                font-weight: 700;
                color: $main-color;
                &.taiwantop {
                    font-size: 6rem;
                }
            }
        }
    }
}

@media screen and (max-width:1199px) {
    .product {
        &_title {
            font-size: calc(2.9rem + 0.6vw);
            &.machine {
                font-size: calc(5rem + 0.6vw);
            }
        }
    }
}

@media screen and (max-width:991px) {
    .about {
        background: linear-gradient(to bottom, $main-color 0%, $main-color 55%, #fff 55%, #fff 100%);
    }
    .product {
        &_content {
            margin-bottom: 60px;
            &:nth-child(odd) {
                .product_pic {
                    order: 1;
                }
                .product_text {
                    order: 2;
                }
            }
            .pic {
                width: 70% !important;
                margin: 0 auto 130px;
                &_bg {
                    // margin: 0;
                    // width: 60%;
                    // margin: 0 auto;
                    width: 100%;
                }
                &_1 {
                    &_1 {
                        // width: calc(67% * 0.6);
                    }
                    &_2 {
                        // width: calc(18% * 0.6);
                    }
                }
            }
            .text {
                transform: none;
                h4 {
                    margin-bottom: 50px;
                }
                p {
                    margin-bottom: 25px;
                }
            }
        }
        &_title {
            position: static;
            text-align: right;
            margin-bottom: 40px;
            &.machine {
                font-size: calc(2.9rem + 0.6vw);
            }
        }
    }
    .data {
        padding: 75px 0 50px;
    }
}

@media screen and (max-width:767px) {
    .banner {
        .swiper-slide {
            padding-bottom: 100%;
            .text {
                width: 100%;
                bottom: 50%;
                left: 50%;
                transform: translate(-50%,50%);
                h2 {
                    text-align: center;
                    font-size: calc(2.5rem + 0.9vw);
                    margin-bottom: 20px;
                }
                h3 {
                    text-align: center;
                    font-size: calc(1rem + 0.6vw);
                }
                a {
                    margin-left: auto;
                    margin-right: auto;
                    background-color: #fff;
                    span {
                        color: #323E48;
                    }
                    .arrow {
                        mix-blend-mode: difference;
                    }
                }
            }
        }
        .swiper-pagination {
            top: inherit;
            bottom: 0;
            display: flex;
            justify-content: center;
            padding: 15px 0;
            background-color: #F2F2F2;
            transform: none;
            &-bullet {
                margin: 0 10px !important;
                background-color: #A6ACB1;
                &-active {
                    height: 10px;
                    background-color: $main-color;
                }
            }
        }
    }
    .about {
        background: linear-gradient(to bottom, $main-color 0%, $main-color 28%, #fff 28%, #fff 100%);
        &_running {
            margin-bottom: 40px;
            &_rail {
                &_text {
                    &_chinese {
                        font-size: 3rem;
                    }
                    &_english {
                        font-size: 1.5rem;
                        padding-left: 20px;
                    }
                }
            }
        }
        &_feature {
            .text {
                width: 90%;
                h3 {
                    font-size: 22px;
                    margin: 0 0 10px;
                }
                p {
                    font-size: 14px;
                }
            }
            .arrow {
                width: 35px;
                height: 35px;
            }
        }
    }
    .map {
        &_box {
            &_main {
                display: block;
                width: 90%;
                margin: 40px auto;
            }
        }
    }
}

@media screen and (max-width:575px) {
    .title-common {
        font-size: 1.76rem;
        margin-bottom: 40px;
        &::after {
            bottom: -20px;
            width: 25px;
        }
    }
    .about {
        // padding: 0 25px;
        // background: linear-gradient(to bottom, $main-color 0%, $main-color 32%, #fff 32%, #fff 100%);
        .container {
            padding: 0 25px;
        }
        &_text {
            .row {
                // margin: 0;
            }
        }
    }
    .product {
        padding: 0 25px;
        .container {
        }
        &_content {
            .pic {
                width: 100% !important;
                margin-bottom: 100px;
            }
            .text {
                padding-left: 0;
            }
        }
        
    }
    .data {
        background-image: url(/public/img/bg-2-mobile.png);
    }
}

@media screen and (max-width:500px) {
    .about {
        background: linear-gradient(to bottom, $main-color 0%, $main-color 35%, #fff 35%, #fff 100%);
    }
}

@media screen and (max-width:414px) {
    .banner {
        .swiper-slide {
            padding-bottom: 144%;
            .text {
                h2 {
                    text-align: center;
                    font-size: calc(1.6rem + 0.9vw);
                }
                h3 {
                    text-align: center;
                    font-size: calc(0.8rem + 0.6vw);
                }
            }
        }
    }
    .about {
        .container {
            padding: 0 15px;
        }
        &_link {
            width: 40px;
        }
        &_text {
            p {
                font-size: 15px;
            }
        }
    }
    .product {
        &_title {
            font-size: calc(1.9rem + 0.6vw);
            &.machine {
                font-size: calc(1.9rem + 0.6vw);
            }
        }
    }
}